<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createCategory</title>
</head>
<body>
    <h1>Create New Category: </h1>
    <form action="/category/create" method="post">
        <div>
            <label for="categoryName">CategoryName: </label>
            <input type="text" name="categoryName">

        </div>
        <div>
            <label for="categoryDescription">CategoryDescription: </label>
            <input type="text" name="categoryDescription">

        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>