<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get product</title>
</head>
<body>
    <h1>Product List: </h1>
 <%   products.forEach(product=>{%>
       <div>
        <h6><%= product.productName%></h6>
        <a href="/product/detail/<%= product.id %>">detail</a>
        <br>
        <a href="/product/update/<%= product.id %>">update</a>
        <br>
        
        <form action="/product/delete/<%= product.id%>" method="post">
            <button type="submit">delete</button>
        </form>
       </div>
      
  <%  })%>
  <a href="/product/create">create new Product</a>
</body>
</html>