<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>
<body>
    <h1> Product Detail: </h1>
    <div>
        <div>
            <label for="productName">ProductName: </label>
            <h6><%= product.productName %></h6>
        </div>
        <div>
            <label for="category">Category: </label>
            <h6><%= category.categoryName %></h6>
        </div>
        <div>
            <label for="productDescription">ProductDescription: </label>
            <h6><%= product.productDescription %></h6>
        </div>
        
        
     
    </div>
    <a href="/product">back</a>
</body>
</html>