<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Welecome to home page</h1>
    <a href="/user">
        get user
    </a>
    <br>
    <a href="/user/create">create user</a>
</body>
</html>