<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>sign in</h1>
    <div>
        <form action="/user/login" method="post">
            <h1>Login</h1>
            <div>
                <label for="userName">UserName: </label>
                <input type="text" name="username">

            </div>
          
            <div>
                <label for="password">Password: </label>
                <input type="text" name="password">

            </div>
            <button onclick="submit"> submit </button>

        </form>
    </div>
    
</body>
</html>